
input[type="text"], input[type="email"]{
    width: 70%;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
    border: 1px solid #F1F5F8;
    color: #606F7B;
    padding: .5rem .75rem;
    box-sizing: border-box;
    font-size: 1rem;
    letter-spacing: .5px;
    margin: .5rem 0;
}

.btn {
    border: none;
    border-radius: 3px;
    margin: auto 0;
    padding: .5rem .75rem;
    flex-shrink: 0;
    cursor: pointer;
    font-size: .9rem;
    letter-spacing: .5px;
    transition: all .1s ease-in;
}

.btn-primary {
    background: #6CB2EB;
    color: #fff;
}

.btn-primary:hover {
    background: #3490DC;
}

.btn-secondary {
    background: #1fba5a;
    color: #fff;
}

.btn-secondary:hover {
    background: #0d5e2c;
}

.btn-cancel {
    background: #EF5753;
    color: #fff;
}

.btn-cancel:hover {
    background: #E3342F;
    color: #fff;
}